<:Body>
  <span class="xautocomplete">
  <input type="text" e-focusout="not `$(event.js_event.relatedTarget).hasClass('xitem')` and self.focus=false" e-focusin="self.focus=true" e-keydown="down event" value="{{ val_f }}" />    
       {{if show}}
       <div class="xautocomplete-popover">
       {{autocomplete.each_with_index do |data, i|}}
           {{if attrs.template.nil?}}
               <div tabindex="100" e-click="click_item data" class="xitem {{selected? i}}">{{data.text}}</div>
           {{else}}
               <div tabindex="100" e-click="click_item data" class="xitem {{selected? i}}">{{view attrs.template, {data: data} }}</div>
            {{end}}
       {{end}}
       </div>
    {{end}}
  </span> 

