.autocomplete {
    position: relative;
}

.autocomplete-popover {
    position: absolute;
    left: 0;
    z-index: 100;
    background-color: white;
}

.selected {
    background-color: black;
    color: white;
}

.item {
    cursor: pointer;
}